@{
    ViewBag.Title = "Bienvenido";
}


@*<div class="col-12 col-xl-9 mt-5">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Tabs <small>Tab flotante izquierdo</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Acciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Grupos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">algo mas</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                        synth. Cosby sweater eu banh mi, qui irure terr.
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                        booth letterpress, commodo enim craft beer mlkshk aliquip
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                        booth letterpress, commodo enim craft beer mlkshk
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- nombre del script que puso en la pagina principal(Layout)-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/carrousel.css" rel="stylesheet" />
    <title>Subcategory Carousel</title>
</head>
<div class="Carousel">
    <h2>Condominio horizontal Bagatzi</h2>
    <div class="slick-list" id="slick-list">
        <div class="slick-track" id="track">
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="~/Content/images/1.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="~/Content/images/2.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="~/Content/images/3.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="~/Content/images/4.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="~/Content/images/5.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="~/Content/images/6.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="~/Content/images/7.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>

            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="~/Content/images/1.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="~/Content/images/2.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="~/Content/images/3.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="~/Content/images/4.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="~/Content/images/5.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="~/Content/images/6.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="/">
                        <picture>
                            <img src="~/Content/images/7.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
